#board {
  background-color: lightgrey;
  width: 950px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 50px;
  width: 50px;
  float: left;
}

.wall {
  height: 50px;
  width: 50px;
  background-image: url(image/wall.png);

}

.goalArea {
  height: 50px;
  width: 50px;
  background-image: url(image/goldmedal.jpg);
    }

.movableBlock{
  height: 50px;
  width: 50px;
  background-image: url(image/block.png);
}

.player {
  height: 50px;
  width: 50px;
  background-image: url(image/player.jpg);
  }